
@media screen and (max-width: 768px) {
/*     * {
    border: 1px solid red;
    } */
    body {
        width: 100%;
    } 
    .container {
        width: 94%;
        margin: 0 auto;
    }

    nav {
        ul {
            display: none;
        }
        &::after {
            left: 35%;
            top: -480px;
        }
        
        #icon {
            display: inline-block;
            width: 48px;
            height: 48px;
            color: white;
        }
    }
    header {
        height: 480px;
        padding-top: 83px;
        padding-left: 10px;

        &::before {
            top: 145px;
            left: -37px;
        }
    
        &::after {
            top: 467px;
            left: 295px;
        }

        p {
            width: 90%;
        }
        
    }
    main {
        height: 1000px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50% 50%;
    
        .side-info {
            width: 96%;
            grid-area: 2 / 1 / span 1 / span 1;
            margin: auto;
            margin-left: 15px;
            &::after {
                top: 1207px;
                left: 247px;
            }
    
            h2 {
                width: 341px;
            }
    
            h3 {
                width: 90%;
            }
    
            p {
                width: 98%;
            }
        }
    }
    section {
        width: 100%;
        height: 100%;
        margin-top: 150px;
        grid-template-rows: 20.5% 75.5%;
    
        .info {
            width: 96%;
            height: 494px;
            margin: auto;
    
            &::before {
                top: 1795px;
                left: -10px;
            }
        }
    
        .articles {
            width: 85%;
            margin: 0 auto;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 30px;
        }
    }

    footer {
        .first-half {
            grid-template-columns: 30% 22% 38% 10%;
            .service {
                margin-right: 32px;
            }
            .socials {
                margin-top: 20px;
            }
        }

        hr {
            width: 100%;
            margin-top: 10px;
        }
        .second-half {

            height: 34px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            margin-top: 12px;
            text-align: center;
    
            #copyright {
                grid-area: 1 / 1 / span 1 / span 2;
            }
    
            #terms {
                grid-area: 2 / 1 / span 1 / span 1;
            }
    
            #privacy {
                grid-area: 2 / 2 / span 1 / span 1;
            }
        }
    }
}

@media screen and (max-width: 480px) {
        section {
            height: 100%;
            margin-bottom: 30px;
        }
        footer {
            .first-half {
                
                #footer-logo {
                    display: none;
                }
                .menu {
                    grid-area: 1 / 1 ;
                }
                .service {
                    margin-right: 20%;
                }
            }
        }
    }